@{
    ViewData["Title"] = "Test";
}
@section Styles{
    <link rel="stylesheet" href="~/css/normalize.css" />
    <link rel="stylesheet" href="~/css/site.css" />
}
@section Scripts{
    <script src="~/js/Data.js"></script>
    <script src="~/js/Dom.js"></script>
    <script src="~/js/Game.js"></script>
    <script src="~/js/Socket.js"></script>
}
<div class="context">
    <div class="nav">
        <label for="user_name">输入用户名</label>
        <input type="text" id="user_name" name="user_name" value="" placeholder="用户名">
        <button id="start">开始</button>
    </div>
    <div id="game" tabindex="0" contenteditable="true">
        <canvas id="player" width="900" height="600"></canvas>
        <canvas id="prop" width="900" height="600"></canvas>
        <canvas id="background" width="900" height="600"></canvas>
    </div>
</div>